@charset "utf-8";
@import "./variables.scss";
@import "../../../node_modules/bulma/bulma.sass";
@import "./animations.scss";


.is-blue {
    color: $primary;
}

.is-blue-transparent {
    background-color: rgba(0, 89, 185, 0.7);
}

.is-white {
    color: white;
}