.card {
    margin: 1.5rem;
}

.red {
    color: rgb(210, 48, 48)
}

.card-header-title {
    justify-content: center !important;
}

.card-footer-item {
    text-align: center;
}

.add-btn {
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.sort-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    .select {
        width: 70%;
        select {
            width: 100%;
        }
    }
}

.add-group-select {
    .select {
        width: 100%;
        select {
            width: 100%;
        }
    }
}

.columns {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .modal-card {
        margin: 0 !important;
    }

    .modal-card-body {
        div {
            margin-bottom: 0.5rem;
        }
    }

    .modal-card-foot {
        display: flex;
        justify-content: center;
    }
}