<!-- FILTRES -->
<div class="filter" *ngIf="groups" >
	<div class="columns">
		<div class="column is-3 sort-group">
			<div class="select">
				<select name="filter-group" (change)="sortGroup($event.target.value)">
					<option value="" disabled selected>Trier par groupe</option>
					<option [value]="group._id" *ngFor="let group of groups">{{group.name}}</option>
					<option value="all">Tous</option>
				</select>
			</div>
		</div>
		<div class="search-bar column is-6">
			<input type="text" placeholder="Rechercher.." class="input" (input)="search($event.target.value)">
		</div>
		<div class="add-btn column is-3">
			<button class="button is-primary" type="button" (click)="openModal('modal-add-user')">Ajouter un utilisateur</button>
		</div>
	</div>
</div>

<!-- UTILISATEURS -->
<div class="grid-container fade-in" *ngIf="users" >
  <div class="card" *ngFor="let user of usersDisplayed" >
    <header class="card-header">
      <p class="card-header-title">
        {{user.firstname}} {{user.lastname | uppercase}}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
		  <div class="phone">
			  <p>{{user.phone}}</p>
		  </div>
        {{user.mail}}
        <br>
		<ng-container *ngIf="user.isSuperadmin">
			<span class="tag mr-2">SUPER ADMINISTRATEUR</span>
		</ng-container>
        <span class="tag mr-2 mt-1" *ngFor="let group of user.groups" [ngStyle]="{'background-color': addAlpha(group.color, 0.4)}">
			{{group.name}}
			<button class="delete is-small" type="button" (click)="removeGroupFromUser(group, user)"></button>
		</span>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" (click)="openModal('modal-add-group', user._id)">Ajouter des groupes</a>
      <a class="card-footer-item red" (click)="deleteUser(user)">Supprimer</a>
    </footer>
  </div>
</div>

<!-- LOADING -->
<div class="progress-spinner fade-in" *ngIf="!users || !groups" >
	<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
  
<!-- MODAL AJOUT UTILISATEUR -->
<div class="modal fade-in" id="modal-add-user">
	<div class="modal-background"></div>
	<form (ngSubmit)="saveForm(f)" #f="ngForm">
		<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Ajouter un utilisateur</p>
			<button class="delete" aria-label="close" type="button" (click)="closeModal('modal-add-user')"></button>
		</header>
		<section class="modal-card-body">
			<label class="label">Nom</label>
			<div class="control has-icons-left has-icons-right" id="lastname">
				<input class="input" type="text" placeholder="Nom de famille" ngModel name="lastname" required>
				<span class="icon is-small is-left">
					<i class="fas fa-user"></i>
				</span>
			</div>

			<label class="label">Prénom</label>
			<div class="control has-icons-left has-icons-right" id="firstname">
				<input class="input" type="text" placeholder="Prénom" ngModel name="firstname" required>
				<span class="icon is-small is-left">
					<i class="fas fa-user"></i>
				</span>
			</div>

			<label class="label">E-mail</label>
			<div class="control has-icons-left has-icons-right" id="mail">
				<input class="input" type="text" placeholder="E-mail" ngModel name="mail" required>
				<span class="icon is-small is-left">
					<i class="fas fa-at"></i>
				</span>
			</div>

			<label class="label">Téléphone</label>
			<div class="control has-icons-left has-icons-right" id="phone">
				<input class="input" type="text" placeholder="Numéro de téléphone" ngModel name="phone" required>
				<span class="icon is-small is-left">
					<i class="fas fa-phone"></i>
				</span>
			</div>

			<label class="checkbox">
				<input type="checkbox" name="isSuperadmin" ngModel>
				Cet utilisateur est super administrateur
			</label>
		</section>
		<footer class="modal-card-foot">
			<button class="button" (click)="closeModal('modal-add-user')">Annuler</button>
			<button type="submit" class="button is-primary" [disabled]="f.invalid">Ajouter utilisateur</button>
		</footer>
		</div>
	</form>
</div>

<!-- MODAL AJOUT GROUPE -->
<div class="modal" id="modal-add-group">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="box">
			<label class="subtitle is-5 has-text-centered">Ajouter des groupes à un utilisateur</label>
			<hr>
			<div class="columns">
				<div class="column is-9 add-group-select">
					<div class="select">
						<select name="filter-group" id="add-group" (change)="addOneGroup($event.target.value)">
							<option value="" disabled selected>Nom du groupe</option>
							<option [value]="group._id" *ngFor="let group of groups">{{group.name}}</option>
						</select>
					</div>
					<ng-container *ngFor="let group of groupsAdded">
						<p class="tag mr-2 mt-2" [ngStyle]="{'background-color': addAlpha(group.color, 0.4)}">
							@{{group.name}}
							<button class="delete is-small" type="button" (click)="removeGroup(group)"></button>
						</p>
					</ng-container>
				</div>
				<div class="column is-3">
					<div class="">
						<button class="button is-primary" type="button" (click)="saveGroup()">Sauvegarder</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="modal-close is-large" aria-label="close" type="button" (click)="closeModal('modal-add-group')"></button>
</div>
