@import "../styles/main.scss";
@import "./users.mobile.component.scss";

@media only screen and (min-width: 601px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". . .";
        margin: 4rem;
    }

    .add-btn {
        display: block;
    }

    .phone {
        display: flex;
    }

    .sort-group {
        display: flex;
        justify-content: flex-end;
    }

    .control {
        margin-bottom: 1rem;
    }

    .add-user {
        display: none;
    }

    .add-group-select {
        .select {
            width: 100%;
            select {
                width: 100%;
            }
        }
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr 0.5fr;
        gap: 0px 0px;
        grid-template-areas:
        "."
        "."
        ".";
    }
}