@import "../styles/main.scss";
@import "./users.mobile.component.scss";

@media only screen and (min-width: 650px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px;
      grid-template-areas:
        ". .";
      margin: 4rem;
    }

    .card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr 0.5fr;
      gap: 0px;
      grid-template-areas:
        "."
        "."
        ".";
    }
}
@media only screen and (min-width: 1100px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". . .";
        margin: 4rem;
    }

    .sort-group {
        margin-top: 0;
    }

    .add-btn {
        display: block;
    }

    .phone {
        display: flex;
    }

    .columns {
        display: flex;
        align-items: center;
    }

    .sort-group {
        display: flex;
        justify-content: flex-end;
    }

    .control {
        margin-bottom: 1rem;
    }

    .add-user {
        display: none;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr 0.5fr;
        gap: 0px 0px;
        grid-template-areas:
        "."
        "."
        ".";
    }
}