@import "../../styles/main.scss";
@import "./posts.mobile.component.scss";

@media only screen and (min-width: 601px) {
    .posts {
        margin: 1rem 5rem 0 5rem;
    }

    .media-right {
        display: flex;
        align-items: flex-end;

        p {
            display: block;
        }
    }

    .charts {
        display: flex;
        justify-content: center;
    }

    .filter {
        margin: 2rem 5rem .3rem 5rem;
        display: flex;
        justify-content: center;
    
        .tag {
            margin-left: 1rem;
            cursor: pointer;
    
            &:hover {
                opacity: 40%;
            }
        } 
    }

    .vote-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .who-liked {
        font-style: italic;
    }

    .media {
        align-items: center;

        p {
            font-style: italic;
        }
    }

    #answers {
        width: 100%;

        select {
            width: 100%;
        }
    } 

    #like {
        cursor: pointer;
    }

    .footer-post {
        display: flex;
        justify-content: space-between;
    }

    .content {
        margin-bottom: 0 !important;
    }
}
