<div class="filter" *ngIf="groups" >
  <span class="tag filter-group" *ngFor="let group of groups" [ngStyle]="{'background-color': addAlpha(group.color, 0.4)}" (click)="filterByGroup(group, $event)">
      @{{group.name}}
  </span>
</div>

<div *ngFor="let post of postsDisplayed" class="posts fade-in">
    <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{post.user.firstname}} {{post.user.lastname}}</p>
              <ng-container *ngFor="let group of post.group">
                <p class="tag margin-right" [ngStyle]="{'background-color': addAlpha(group.color, 0.4)}">@{{group.name}}</p>
              </ng-container>
            </div>
          </div>
      
          <div class="content">
            <pre>{{post.content}}</pre>
            <time>{{post.date | date : 'medium'}}</time>
          </div>
        </div>
      </div>
</div>

<div class="progress-spinner fade-in" *ngIf="!posts" >
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
