<nav class="header">
    <ul class="list">
        <li><a routerLink="/feed" routerLinkActive="active">Fil d'actualité</a></li>
        <li><a routerLink="/group" routerLinkActive="active">Mes groupes</a></li>
        <li><a routerLink="/agenda" routerLinkActive="active">Agenda</a></li>
        <li><a routerLink="/drive" routerLinkActive="active">Drive</a></li>
        <li *ngIf="user" >
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span class="icon">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </span>
                    <span>{{user.firstname}}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                        <button class="button is-danger is-inverted" (click)="disconnect()">Se déconnecter</button>
                    </div>
                  </div>
                </div>
              </div>
        </li>
    </ul>
</nav>