<nav class="header">
    <ul class="list">
        <li>
          <a routerLink="/feed">
            <img src="../../../assets/images/testmyconnect.png">
          </a>
        </li>
        <li><a routerLink="/feed" routerLinkActive="active" class="anim-link">Fil d'actualité</a></li>
        <li><a routerLink="/group" routerLinkActive="active" class="anim-link">Mes groupes</a></li>
        <li><a routerLink="/agenda" routerLinkActive="active" class="anim-link">Agenda</a></li>
        <li><a routerLink="/drive" routerLinkActive="active" class="anim-link">Drive</a></li>
        <li><a routerLink="/users" routerLinkActive="active" class="anim-link" *ngIf="user.isSuperadmin" >Gérer les utilisateurs</a></li>
        <li *ngIf="user" >
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span class="icon is-white">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </span>
                    <span class="is-white">{{user.firstname}}</span>
                    <span class="icon is-small is-white">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                        <button class="button is-info is-inverted" (click)="editUser()">Modifier les infos</button>
                    </div>
                    <div class="dropdown-item">
                        <button class="button is-danger is-inverted" (click)="disconnect()">Se déconnecter</button>
                    </div>
                  </div>
                </div>
              </div>
        </li>
    </ul>
    <div class="separator">
      <hr>
    </div>
</nav>

<div class="header-mobile">
  <div class="bandeau">
    <div class="update">
      <span class="icon" (click)="editUser()">
        <i class="fas fa-user-cog"></i>
      </span>
    </div>
    <div class="logo">
      <a routerLink="/feed">
        <img src="../../../assets/images/testmyconnect.png">
      </a>
    </div>
    <div class="disconnect">
      <span class="icon" (click)="disconnect()">
        <i class="fas fa-sign-out-alt"></i>
      </span>
    </div>
  </div>
  <hr>
  <div class="tabs is-centered is-large">
    <ul>
        <li><a routerLink="/feed" routerLinkActive="is-active">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
        </a></li>
        <li><a routerLink="/group" routerLinkActive="is-active"><span class="icon">
          <i class="fas fa-bars"></i>
        </span></a></li>
        <li><a routerLink="/agenda" routerLinkActive="is-active"><span class="icon">
          <i class="fas fa-calendar"></i>
        </span></a></li>
        <!-- <li><a routerLink="/drive" routerLinkActive="is-active"><span class="icon">
          <i class="fas fa-hdd"></i>
        </span></a></li> -->
        <li *ngIf="user.isSuperadmin"><a routerLink="/users" routerLinkActive="is-active"><span class="icon">
          <i class="fas fa-users"></i>
        </span></a></li>
    </ul>
  </div>
</div>