@import "../styles/main.scss";
@import "./feed.mobile.component.scss";

@media only screen and (min-width: 601px) {
    .publish, .poll {
        margin: 0 20rem 0 20rem;
    }

    .textarea {
        display: block;
    }

    .buttons {
        display: block;
    }

    .add-mobile {
        display: none;
    }
    
    .options {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        div {
            margin-left: 1rem;
        }
    }

    .answer {
        display: flex;
        align-items: center;
    }

    .poll-button {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .select {
        select {
            width: 20rem;
        }
    }
    
    .tag {
        margin-right: .6rem;
        margin-bottom: .6rem;
    }

    .mobile-content {
        display: none;
    }
}

