@media only screen and (max-width: 600px) {
    .textarea {
        display: none;
    }

    .mobile-content {
        margin: 1.5rem 0.5rem 1.5rem 0.5rem;
    }

    .input-content {
        display: flex;
        justify-content: center;

        input {
            width: 90%;
            margin-top: .2rem;
        }
    }

    .add-group {
        display: flex;
        justify-content: space-evenly;
    }

    .buttons {
        display: none;
    }

    .groups-selected {
        padding: 1rem 0 0 1.2rem;
    }
}

@media only screen and (min-width: 601px) {
    .publish {
        margin: 0 20rem 0 20rem;
    }

    .add-mobile {
        display: none;
    }
    
    .options {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
    
        div {
            margin-left: 1rem;
        }
    }
    
    .select {
        select {
            width: 20rem;
        }
    }
    
    .tag {
        margin-right: .6rem;
        margin-bottom: .6rem;
    }

    .mobile-content {
        display: none;
    }
}

