<div class="content fade-in" *ngIf="eventObject" >
    <ejs-schedule
        #scheduleObj
        height="600px"
        [currentView]="setView"
        [selectedDate]="setDate"
        [eventSettings]="eventObject"
        (actionComplete)="actionComplete($event)"
        (popupOpen)="onPopupOpen($event)"
        locale="fr"
        (eventRendered)="oneventRendered($event)"
    > 
    </ejs-schedule>

</div>

<div class="progress-spinner" *ngIf="!eventObject" >
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  

<progress class="progress is-primary fade-in" [value]="progress" max="100" *ngIf="progress < 100" >{{progress}}%</progress>
