@import "../../styles/main.scss";

@media only screen and (min-width: 601px) {
    .content {
        padding: 20rem;
    }

    .logo {
        display: none;
    }

    .btn-connection {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 1rem;
        margin-top: 10rem;
    }

    .title {
        display: none;
    }
}

.title {
    h1 {
        text-align: center;
    }
}